
/* shared css style */

body{
    font-family: Work Sans;
}
.btn-primary{
    padding: 13px 30px;
    border-radius: 15px;
    border: none;
    background-color: #F948B2;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}

/* nav section style */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Work Sans;
    padding: 20px;
    max-width: 1250px;
}

.logo-section{
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 70px;
}
.logo-title span{
    color:#FF42A5;
}
.logo-image{
    width: 86px;
    height: 40px;
}

.menu-section{
    display: flex;
    gap: 15px;
}
.menu-section li{
    list-style: none;
}
.menu-section a{
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 15px;
    margin-right: 10px;
}
.follow-us-anchor{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.youtube-icon{
    color: rgb(253, 29, 29);
    padding: 5px;
}

.tiktok-icon{
    padding: 5px;
}

/* banner-1 section  */
.banner-1-section{
    background-image: url("../images/Group\ 14.png");
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}
.banner-1{
    display: flex;
    justify-content: space-between;
}
.banner-1-content{
    padding-left: 40px;
    padding-top: 90px;
}
.banner-1-content li{
    list-style: none;
    margin-top: 10px;
}
.fa-circle-down,
.fa-circle-play{
    color: #f042aa;
}
.banner-1-title-1{
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0px;

}
.banner-1-title-2{
    text-align: center;
    font-family: Work Sans;
    font-size: 4rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0px;
}
.banner-1-photo{
    width: 50%;
    padding-right: 40px;

}
.banner-1-image{
    width: 100%;
}
.banner-1-button{
    padding: 20px 0px;
    padding-left: 30px;
    display: flex;
    gap: 20px;
}
.btn-2{
    background-color:#4EC5F7;
}

/* banner-2 section */

.banner-2-section{
    background-image: url("../images/Group\ 14.png");
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}

.banner-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
    margin: 0 auto;
    height: 100%;
}
.banner-2-photo{
    width: 100%;
}
.banner-2-image{
    width: 100%;
}
.banner-2-content{
    text-align: right;
    width: 60%;
    margin-right: 40px;
}
.banner-2-title{
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15px;
}
.banner-2-description{
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 14px;
}
.below-btn{
    margin-top: 14px;
}
.banner-2-descrption q{
    font-size: 1.5rem;
    font-weight: 500;
}

/* funny video section */
.video-section-content{
    text-align: center;
}
.video-image-content{
    display: flex;
    gap: 20px;
    padding: 0 90px;
}
.video-section-title{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 13px;
}
.video-section-title span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.video-section-description{
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
}
.video-image-content .video-card{
    padding: 15px;
    text-align: center;
}

.image-container img {
    height: auto;
    width: 100%;
  }

/* poster-1 section */

.poster-1-section{
    padding-top: 20px;
}
.poster-1-content{
    padding-left: 30px;
}
.poster-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
    padding: 20px;
  }
  .poster-1-photo{
    position: relative;
    width: 50%;
    padding-right: 80px;
  }
  .main-image{
    width: 100%;
  }
  .secondary-image{
    position: absolute;
    bottom:-12%;
    left: -12%;
    width: 50%;
  }
  .secondary-photo{
    width: 100%;
  }
  .poster-1-content{
    text-align: right;
    width: 70%;
    margin: auto;
  }
  
  /* various game section */
  .various-game-section{
    margin-top: 28px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
  }
  .game-section{
    max-width: 1250px;
    margin: 0 auto;
    padding: 10px;
}
.game-section-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    padding: 20px;
    text-align: center;

} 
.game-image{
    width: 50px;
}
.game-type{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 5px;
    padding:5px 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
}
.game-type:hover{
    color: #ff4ab6;
    border: 1px solid #fa47b2;
    padding:4px 9px;
}